@model ExamenModelos.Models.Mercados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mercados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finalizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finalizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cancelado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cancelado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propietarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propietarios.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMercado }) |
    @Html.ActionLink("Back to List", "Index")
</p>
